body{
    background-image:linear-gradient(45deg,rgb(252,252,99),rgb(247, 187, 119),rgb(252,252,99));
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color:#C52F88;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    width: 100px; 
    height: auto; 
    margin: 10px; 
}
.nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    
}
.nav-links li {
    margin-right: 20px; 
    border-radius: 30px;
    padding: 5px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color: black; 
    text-decoration: none;
 } 

 .container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.centered-content {
    text-align: center;
}

.list-group {
    list-style: none;
    padding: 0;
}

.list-group-item {
    background-image:linear-gradient(45deg,rgb(252,252,99),rgb(247, 187, 119),rgb(252,252,99));
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 5px;
    padding: 10px 15px;
    text-decoration: none;
}

.list-group-item:hover {
    background-color: #e9ecef;
}

  