body{
    background-color: white;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color:#C52F88;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    width: 100px; 
    height: auto; 
    margin: 10px; 
}
.nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    
}
.nav-links li {
    margin-right: 20px; 
    border-radius: 30px;
    padding: 5px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a{
    color: black; 
    text-decoration: none;
 } 
 
 .background {
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 20px; 
    width: 300px; 
}

button {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px; 
    margin-top: 20px;
}

input {
    background-color: white;
    border: none;
    padding: 15px;
    border-radius: 5px; 
    margin-bottom: 20px; 
}


.logo {
    width: 100px;
    height: auto;
    margin: 10px;
    border-radius: 50%;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
