{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>administrador</title>
    <link rel="stylesheet" href="{% static 'administrador.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" rel="stylesheet">
    <style>
        /* Estilizando o link para remover o sublinhado azul */
        .container a {
            text-decoration: none; /* Remove o sublinhado */
            color: black; /* Define a cor do texto para preto */
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <div cass="logo-container">
            <a href="/administrador">
                <img src="{% static './codigosadm/img/home branco@4x.png'%}" alt="Logo" class="logo">
            </a>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/padrinhoslog">
                    <button type="button" class="btn btn-light">Sobre o Apadrinhamento</button>
                </a>
            </li>
            <li>
                <a href="/noticiaslog">
                    <button type="button" class="btn btn-light">Notícias</button>
                </a>
            </li>
            <li>
                <a href="/">
                    <img src="{% static './codigosadm/img/log out branco@4x.png' %}" alt="Logo" width="50" height="50">
                </a>
            </li>
        </ul>
    </nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <br>
    <div class="outer-container">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <a href="/apadrinhados">
                        <img src="{% static './codigosadm/img/criança preto@4x.png' %}" alt="Logo" width="50" height="50">Alunos</a>
                </div>
                <div class="col">
                    <a href="/">
                    <img src="{% static './codigosadm/img/padrinho preto@4x.png' %}" alt="Logo" width="50" height="50">Padrinhos
                    </a>
                </div>
                <div class="col">
                    <a href="/cronograma">Cronograma</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Voluntários
                </div>
                <div class="col">
                    <a href="/setadm">Administradores</a>
                </div>
                <div class="col">
                    <a href="/cadastro">Cadastro</a>
                </div>
                <div class="col">
                    <a href="/professores">Professores</a>
                </div>
            </div>
        </div>
    </div>
</body> 
</html>
