{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'cadastro.css' %}">
</head>

<body>
    <nav class="navbar">
        <div cass="logo-container">
            <a href="/">
                <img src="{% static './codigosadm/img/gotas-de-flor-com-amor-removebg-preview.png' %}" alt="Logo" class="logo">
            </a>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/">Início</a>
            </li>
            <li>
                <a href="/apadrinhamento">Sobre o Apadrinhamento</a>
            </li>
            <li>
                <a href="/noticias">Notícias</a>
            </li>
            <li>
                <a>Sair</a>
            </li>
        </ul>
    </nav>
    <div class="background">
        <div class="mb-3">
            <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="nome">
            <label for="exampleFormControlInput1" class="form-label"></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
        </div>
        <div class="mb-3">
            <input type="password" placeholder="Senha">
            <br>
            <input type="password" placeholder="Confirme sua senha">
        </div>
        <button>Enviar</button>
    </div>
    
</body> 
</html>